* {
    box-sizing: border-box;
  }
  nav a {
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  nav li {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    padding: 14px;
    font-size: 17px;
  }
  nav li:hover {
    background: linear-gradient(to top, #5f4f4996 0%, #ff5e0083 100%);
    border-radius: 10px;
  }
  body {
    background-color: rgb(175, 175, 175);
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
  }
  p {
    font-family: "Montserrat", sans-serif;
    border-left-style: solid;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(54, 44, 44);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(20, 7, 7);
  }
  section {
    float: left;
  }
 
  #mid {
    padding-top: 45px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  #list {
    list-style-type:none
  }
  footer {
    display: inline;
    text-align: center;
    padding: 20px;
    margin: 5px;
    
  }
 #a{
  background-image: url("Pictures/alexander-schimmeck-ineC_oi7NHs-unsplash.jpg");
  background-size: 100%;
  }
#b  {
    background-image: url("Pictures/anna-kolosyuk-D5nh6mCW52c-unsplash.jpg");
    background-size: 100%;
  }
  #c {
    background-image: url("Pictures/dim-7-DB7u9kZnzgg-unsplash.jpg");
    background-size: 100%;
  }
  #d {
    background-image: url("Pictures/prateek-katyal-xv7-GlvBLFw-unsplash.jpg");
    background-size: 100%;
  }
  #i {
    color:#bb1777;
  }
  #t {
    color:#329cff;
  }
  #f {
    color:#5228c5;
  }
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }